# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary & Build files
*.tmp
*.log
.build/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Video binaries (to keep repo lightweight)
*.mp4
*.mkv
*.avi

# Deployment worktree
.deploy-gh-pages/
